@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto+Mono:wght@200&display=swap');
body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
	font-family: "Inconsolata", monospace;
}
p {
  font-family: "Roboto Mono", monospace;
}
